#cloud-config
users:
  - name: cloud-user
    sudo: ['ALL=(ALL) NOPASSWD: ALL']
    groups: wheel
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ssh_public_key | quote }}
    passwd: {{ vm_password | quote }}
    lock_passwd: false
chpasswd:
  list: |
    cloud-user:{{ vm_password }}
  expire: False